              <!--  -->
              <div class="calendar_wrapper">
                  <mwl-demo-utils-calendar-header
                  [(view)]="view"
                  [(viewDate)]="viewDate">
                </mwl-demo-utils-calendar-header>
                
                <div class="alert alert-info">
                  Click on a day on the view.
                  <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate }}</strong>
                </div>
                <ng-template #customCellTemplate let-day="day" let-locale="locale">
                    <div class="cal-cell-top">
                      <!-- <div class="image_funny"> -->
                      <!-- <img class="image_funny animated hinge infinite" src="../../assets/image/animoji-gif-hotovo.gif" alt=""> -->
                      <img *ngIf="day.events.length>0" class="image_funny " src="../../assets/image/shit.png" alt=""> 
                      <!-- <img class="image_funny animated bounce infinite" src="../../assets/image/shit.png" alt="">  -->
                    <!-- </div> -->
                      <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
                      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                    </div>
                    <small style="margin: 5px">{{ day.events.length}} events </small>
                  </ng-template>
                  <!-- (dayClicked)="clickedDate = $event.day.date" -->
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    (dayClicked)="clickDate($event)"
                    [activeDayIsOpen]=activeDayIsOpen
                    [cellTemplate]="customCellTemplate"
                    [refresh]="refresh"
                    (eventClicked)="eventClicked($event)">
                  </mwl-calendar-month-view>
                  <mwl-calendar-week-view
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (dayHeaderClicked)="clickedDate = $event.day.date">
                  </mwl-calendar-week-view>
                  <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [refresh]="refresh"
                    [events]="events">
                  </mwl-calendar-day-view>
                </div>
          </div>
 